[submodule "hw3dw/3rdParty/plog"]
	path = hw3dw/3rdParty/plog
	url = git@github.com:rbeesley/plog.git
[submodule "hw3dw/3rdParty/imgui"]
	path = hw3dw/3rdParty/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "hw3dw/3rdParty/windows_thunks"]
	path = hw3dw/3rdParty/windows_thunks
	url = git@github.com:tobias-loew/windows_thunks.git
[submodule "hw3dw/3rdParty/boost/type_traits"]
	path = hw3dw/3rdParty/boost/type_traits
	url = git@github.com:boostorg/type_traits.git
[submodule "hw3dw/3rdParty/boost/mpl"]
	path = hw3dw/3rdParty/boost/mpl
	url = git@github.com:boostorg/mpl.git
[submodule "hw3dw/3rdParty/boost/function_types"]
	path = hw3dw/3rdParty/boost/function_types
	url = git@github.com:boostorg/function_types.git
[submodule "hw3dw/3rdParty/boost/config"]
	path = hw3dw/3rdParty/boost/config
	url = git@github.com:boostorg/config.git
[submodule "hw3dw/3rdParty/boost/preprocessor"]
	path = hw3dw/3rdParty/boost/preprocessor
	url = git@github.com:boostorg/preprocessor.git
